# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
bun.lockb

# TypeScript build artifacts
dist/
out/
tsconfig.tsbuildinfo

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
bun-debug.log*
debug.log*
log/

# Editor-specific files
.vscode/
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# OS-specific files
.DS_Store
Thumbs.db

# PM2 logs and process files
pm2.log
pm2.pid
pm2-dump.json

# Ignore lock files (optional)
package-lock.json
yarn.lock
pnpm-lock.yaml
